**Important: This notebook will only work with fastai-0.7.x. Do not try to run any fastai-1.x code from this path in the repository because it will load fastai-0.7.x**

In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [3]:
PATH = "data/titanic/"

In [4]:
!ls {PATH}

test.csv  train.csv

In [5]:
df_raw = pd.read_csv(f'{PATH}train.csv', low_memory=False)

In [6]:
df_raw.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [7]:
df_raw['Surname'] = df_raw['Name'].str.split(',').str[0]

In [8]:
df_raw.head()
df_raw = df_raw.drop('Name', axis=1)

The categorical variables are currently stored as strings, which is inefficient, and doesn't provide the numeric coding required for a random forest. Therefore we call train_cats to convert strings to pandas categories.

In [9]:
train_cats(df_raw)

In [10]:
df_raw.isnull().sum().sort_index()/len(df_raw)

Age            0.198653
Cabin          0.771044
Embarked       0.002245
Fare           0.000000
Parch          0.000000
PassengerId    0.000000
Pclass         0.000000
Sex            0.000000
SibSp          0.000000
Surname        0.000000
Survived       0.000000
Ticket         0.000000
dtype: float64

But let's save this file for now, since it's already in format can we be stored and accessed efficiently.

In [11]:
os.makedirs('tmp', exist_ok=True)
df_raw.reset_index().to_feather('tmp/titanic-raw')

In the future we can simply read it from this fast format

In [12]:
df_raw = pd.read_feather('tmp/titanic-raw')

We'll replace categories with their numeric codes, handle missing continuous values, and split the dependent variable into a separate variable.

In [13]:
df, y, nas = proc_df(df_raw, 'Survived')
df['Fare_na']=False

In [14]:
set_rf_samples(20000)

In [15]:
m = RandomForestClassifier(n_estimators=150, min_samples_leaf=5, n_jobs=-1, oob_score=True)
m.fit(df, y)
m.score(df,y)

/home/amit/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/sklearn/ensemble/forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
/home/amit/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/sklearn/ensemble/forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

0.941638608305275

In [16]:
df_test = pd.read_csv(f'{PATH}test.csv', low_memory=False)
df_test['Surname'] = df_test['Name'].str.split(',').str[0]
df_test = df_test.drop('Name', axis=1)
train_cats(df_test)

In [17]:
os.makedirs('tmp', exist_ok=True)
df_test.reset_index().to_feather('tmp/titanic-test')

In [18]:
df_test = pd.read_feather('tmp/titanic-test')
df_test
df, _, nas = proc_df(df_test)
df

,index,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Age_na,Fare_na
0,0,892,3,2,34.5,0,0,153,7.8292,0,2,173,False,False
1,1,893,3,1,47.0,1,0,222,7.0000,0,3,340,False,False
2,2,894,2,2,62.0,0,0,74,9.6875,0,2,232,False,False
3,3,895,3,2,27.0,0,0,148,8.6625,0,3,345,False,False
4,4,896,3,1,22.0,1,1,139,12.2875,0,3,151,False,False
5,5,897,3,2,14.0,0,0,262,9.2250,0,3,313,False,False
6,6,898,3,1,30.0,0,0,159,7.6292,0,2,74,False,False
7,7,899,2,2,26.0,1,1,85,29.0000,0,3,49,False,False
8,8,900,3,1,18.0,0,0,101,7.2292,0,1,4,False,False
9,9,901,3,2,21.0,2,0,270,24.1500,0,3,91,False,False
10,10,902,3,2,27.0,0,0,196,7.8958,0,3,157,True,False
11,11,903,1,2,46.0,0,0,260,26.0000,0,3,164,False,False
12,12,904,1,1,23.0,1,0,53,82.2667,13,3,302,False,False
13,13,905,2,2,63.0,1,0,75,26.0000,0,3,155,False,False
14,14,906,1,1,47.0,1,0,363,61.1750,61,3,61,False,False
15,15,907,2,1,24.0,1,0,344,27.7208,0,1,351,False,False
16,16,908,2,2,35.0,0,0,61,12.3500,0,2,171,False,False
17,17,909,3,2,21.0,0,0,120,7.2250,0,1,16,False,False
18,18,910,3,1,27.0,1,0,357,7.9250,0,3,158,False,False
19,19,911,3,1,45.0,0,0,121,7.2250,0,1,17,False,False
20,20,912,1,2,55.0,1,0,317,59.4000,0,1,282,False,False
21,21,913,3,2,9.0,0,1,278,3.1708,0,3,246,False,False
22,22,914,1,1,27.0,0,0,315,31.6833,0,3,119,True,False
23,23,915,1,2,21.0,0,1,314,61.3792,0,1,343,False,False
24,24,916,1,1,48.0,1,3,320,262.3750,16,1,285,False,False
25,25,917,3,2,50.0,1,0,274,14.5000,0,3,276,False,False
26,26,918,1,1,22.0,0,1,15,61.9792,11,1,250,False,False
27,27,919,3,2,22.5,0,0,122,7.2250,0,1,86,False,False
28,28,920,1,2,41.0,0,0,12,30.5000,3,3,39,False,False
29,29,921,3,2,27.0,2,0,105,21.6792,0,1,292,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,388,1280,3,2,21.0,0,0,226,7.7500,0,2,50,False,False
389,389,1281,3,2,6.0,3,1,206,21.0750,0,3,254,False,False
390,390,1282,1,2,23.0,0,0,33,93.5000,9,3,256,False,False
391,391,1283,1,1,51.0,0,1,312,39.4000,54,3,195,False,False
392,392,1284,3,2,13.0,0,2,282,20.2500,0,3,1,False,False
393,393,1285,2,2,47.0,0,0,283,10.5000,0,3,131,False,False
394,394,1286,3,2,29.0,3,1,147,22.0250,0,3,180,False,False
395,395,1287,1,1,18.0,1,0,38,60.0000,31,3,300,False,False
396,396,1288,3,2,24.0,0,0,245,7.2500,0,2,70,False,False
397,397,1289,1,1,48.0,1,1,37,79.2000,12,1,127,False,False
398,398,1290,3,2,22.0,0,0,177,7.7750,0,3,188,False,False
399,399,1291,3,2,31.0,0,0,54,7.7333,0,2,73,False,False
400,400,1292,1,1,30.0,0,0,239,164.8667,41,3,32,False,False
401,401,1293,2,2,38.0,1,0,129,21.0000,0,3,128,False,False
402,402,1294,1,1,22.0,0,1,8,59.4000,0,1,130,False,False
403,403,1295,1,2,17.0,0,0,13,47.1000,0,3,56,False,False
404,404,1296,1,2,43.0,1,0,45,27.7208,59,1,126,False,False
405,405,1297,2,2,20.0,0,0,343,13.8625,58,1,241,False,False
406,406,1298,2,2,23.0,1,0,130,10.5000,0,3,327,False,False
407,407,1299,1,2,50.0,1,1,14,211.5000,43,1,338,False,False
408,408,1300,3,1,27.0,0,0,161,7.7208,0,2,274,True,False
409,409,1301,3,1,3.0,1,1,352,13.7750,0,3,257,False,False
410,410,1302,3,1,27.0,0,0,229,7.7500,0,2,236,True,False
411,411,1303,1,1,37.0,1,0,49,90.0000,42,2,225,False,False
412,412,1304,3,1,28.0,0,0,185,7.7750,0,3,146,False,False
413,413,1305,3,2,27.0,0,0,268,8.0500,0,3,303,True,False
414,414,1306,1,1,39.0,0,0,325,108.9000,23,1,245,False,False
415,415,1307,3,2,38.5,0,0,347,7.2500,0,3,288,False,False
416,416,1308,3,2,27.0,0,0,221,8.0500,0,3,327,True,False
417,417,1309,3,2,27.0,1,1,106,22.3583,0,1,262,True,False

In [19]:
predicted_labels = m.predict(df)

In [20]:
predicted_labels

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 1])

In [21]:
file = open("titanic-result.csv","w")

file.write("PassengerId,Survived\n")
i=892
for label in predicted_labels:
    file.write(f'{i},{label}\n')
    i=i+1
file.close()